<!doctype html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="container-md border border-dark rounded my-4 p-3">
        <div class="d-flex align-items-center"> <!-- Flexbox voor horizontale uitlijning en verticale centrering -->

            <!-- Afbeelding -->
            <div class="flex-shrink-0">
                <img alt="SDG 2"
                     class="border border-dark rounded"
                     src="/images/SDG%202.jpg"
                     style="height:140px;">
            </div>

            <!-- Titel en subtitel -->
            <div class="flex-grow-1 text-center ms-3"> <!-- ms-3 geeft ruimte tussen afbeelding en tekst -->
                <div class="border border-dark card-body rounded-pill py-2">
                    <h1 class="mb-0">Boodsch(App)</h1>
                    <h2 class="mb-0">SDG 2: No Hunger.</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="container-md p-4 border border-dark rounded my-4">
        <div class="row text-center">
            <div class="col-md-4">
                <h4> Overzicht Items. </h4>
                <p>Overzicht van afgekorte items.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-dark w-100 h-100 rounded-pill fs-4 d-flex justify-content-center align-items-center"
                   th:href="@{/Table}" type="button"><i class="bi bi-play"></i></a>
            </div>
        </div>
    </div>
    <div class="container-md p-4 border border-dark rounded my-4">
        <div class="row text-center">
            <div class="col-md-4">
                <h4> Kortingen in jouw regio. </h4>
                <p>Overzicht van kortingen in jouw Regio.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-dark w-100 h-100 rounded-pill fs-4 d-flex justify-content-center align-items-center"
                   th:href="@{/regio}" type="button">
                    <i class="bi bi-play"></i>
                </a>

            </div>
        </div>
    </div>
</div>
</html>