<!doctype html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="container-md p-6 border border-dark rounded my-4">
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 border border-dark card-body rounded-pill">
                mockup
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

<div class="container-md p-4 border border-dark rounded-pill my-6">
    second container
</div>
</div>
</html>